@font-face {
    font-family: 'JalnanGothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/JalnanGothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{
    padding: 0;
    margin: 0;
    border: none;
    font-family: 'JalnanGothic', serif;
}

body{
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
}
.pageTitle{
    margin-top: 5em;
}
/*sign*/
#sign-form > input{
    width: 100%;
    height: 48px;
    padding: 0 10px;
    box-sizing: border-box;
    margin-bottom: 16px;
    border-radius: 6px;
    background-color: #F8F8F8;
}
#sign-form > input[type="submit"]{
    color: #fff;
    font-size: 16px;
    background-color: #6A24FE;
    margin-top: 20px;
}
/*login*/
.login-wrapper{
    width: 400px;
    height: 350px;
    padding: 40px;
    box-sizing: border-box;
}

.login-wrapper > h2{
    font-size: 24px;
    color: #6A24FE;
    margin-bottom: 20px;
}
#login-form > input{
    width: 100%;
    height: 48px;
    padding: 0 10px;
    box-sizing: border-box;
    margin-bottom: 16px;
    border-radius: 6px;
    background-color: #F8F8F8;
}
#login-form > input::placeholder{
    color: #D2D2D2;
}
#login-form > input[type="submit"]{
    color: #fff;
    font-size: 16px;
    background-color: #6A24FE;
    margin-top: 20px;
}
#login-form > input[type="checkbox"]{
    display: none;
}
#login-form > label{
    color: #999999;
}

/*tasklist*/
.taskListBtn {
    margin-top: 2em;
}
table.taskList {
    margin-top: 1em;
    border-collapse: collapse;
    text-align: left;
    line-height: 1.5;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
table.taskList thead th {
    width: auto;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    color: #fff;
    background: #6A24FE;
    margin: 20px 10px;
}
table.taskList tbody th {
    width: auto;
    padding: 10px;
}
table.taskList td {
    width: auto;
    padding: 10px;
    vertical-align: top;
}
table.taskList .even {
    background: #fdf3f5;
}
table.taskList #taskDate,#taskTime,#taskComplete,#taskDelay {
    width: 100px;
}
table.taskList #taskContent,#taskSGTXT {
    width: 300px;
}
.taskList_content {
    border-top: 1px solid #6A24FE; /* 테두리 스타일 지정 */
    border-bottom: 1px solid #6A24FE; /* 테두리 스타일 지정 */
}

/*dash board*/
.dash-board {
    margin-top: 2em;
    background-color: #F8F8F8;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
.latestTaskListDiv {
    background-color: white;
    text-align: center;
}
.latestTaskList {
    margin-top: 3em;
    background-color: #f6f9fc;
    color: black;
    font-family: inherit;
}

.dash-board .row {
    width: 24%;
    height: 100px;
    border-radius: 15px;
    border: 1px solid #6A24FE;
    margin: 2px;
}
.dash-board .row .col {
    width: 100%;
}
.dash-board .title {
    color: #999999;
    display: block;
}
.dash-board .dash-count {
    font-size: 3em;
}
.dash-board h2 {
    color: #6A24FE;
}

/*버튼*/
.btn.mini,
.btn-two.mini,
.btn-gradient.mini,
.btn-effect.mini {
    padding: 4px 12px;
    font-size: 15px;
    border-radius: 10px;
    color: black;
    text-decoration-line: none;
}
.btn.blue, .btn-two.blue     {background-color: cornflowerblue;}
.btn.red, .btn-two.red       {background-color: #fa5a5a;}
.btn.blue {box-shadow: 0px 4px cornflowerblue;}
.btn.blue:active {box-shadow: 0 0 cornflowerblue; background-color: cornflowerblue;}
.btn.red {box-shadow:0px 4px 0px #E04342;}
.btn.red:active {box-shadow: 0 0 #ff4c4b; background-color: #ff4c4b;}

/*체크박스*/

.check_btn {
    cursor:pointer;
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid #bcbcbc;
    accent-color: #ff4c4b;
}

/* label:before에 체크 된 상태 CSS */
input .check_btn + label:before{
    background-repeat: no-repeat;
    background-position: 50%;
}
